[Unit]
Description=Kamailio SIP router server daemon for sipcapture
After=syslog.target
After=network.target
After=auditd.service
After=mysqld.service

[Service]
EnvironmentFile=/etc/sysconfig/sipcapture
ExecStartPre=/usr/bin/mkdir -m=2770 -p /var/run/sipcapture
ExecStartPre=/usr/bin/chown kamailio:kamailio /var/run/sipcapture
ExecStart=/sbin/kamailio -f $CFG_FILE -P $PID_FILE -m $SHM_MEMORY -M $PKG_MEMORY -u $USER -g $GROUP $EXTRA_OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
KillMode=control-group
Restart=on-failure
RestartSec=42s
Type=forking

[Install]
WantedBy=multi-user.target
