server {

	listen 80;

	root /var/www/sipcapture/htdocs;
	index index.html index.htm;

	# Make site accessible from http://localhost/
	server_name <HOSTNAME>;

	location / {
	    try_files $uri $uri/ /index.html;
	}

	location /api {
	    include fastcgi_params;
	    # NOTE: You should have "cgi.fix_pathinfo = 0;" in php.ini
            include fastcgi_params;
	    # fastcgi_pass 127.0.0.1:9001;
	    # by default there is unix socket
	    fastcgi_pass unix:/var/run/php5-fpm.sock;
	    fastcgi_intercept_errors on;
	    fastcgi_param  SCRIPT_FILENAME $document_root/api/index.php;
        }
}
